<div id="ruleModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeRuleModal()">&times;</span>
        <h3 id="modalTitle">Add Rule</h3>
        <form id="ruleForm">
            <input type="hidden" name="ruleId" id="ruleId">
            
            <!-- Rule Name -->
            <div class="form-group">
                <label for="ruleName">Rule Name:</label>
                <input type="text" class="form-control" id="ruleName" name="ruleName" required>
            </div>
            
            <!-- Description -->
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            
            <!-- Anomaly Score -->
            <div class="form-group">
                <label for="anomalyScore">Anomaly Score:</label>
                <input type="number" class="form-control" id="anomalyScore" name="anomalyScore">
            </div>
            
            <!-- Action -->
            <div class="form-group">
                <label for="action">Action:</label>
                <select class="form-control" id="action" name="action" required>
                    <option value="block">Block</option>
                    <option value="allow">Allow</option>
                    <option value="count">Count</option>
                    <option value="captcha">Captcha</option>
                </select>
            </div>
            
            <!-- Conditions Section -->
            <h4>Conditions</h4>
            <div id="conditionsContainer"></div> <!-- Container for dynamically added conditions -->
            

            <!-- Button to add a new condition -->
            <button id="addConditionButton" onclick="addConditionRule()">Add Condition</button>
            <button id="deleteConditionButton" style="display:none;" onclick="deleteLastCondition()">Delete Last Condition</button>
            <!-- Save Changes Button -->
            <button id="submitButton" style="display:none;" type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>

<script>

let formListenerAttached = false;
let conditionsCount = 0;
let globalConditionType = 'MATCH'; 

function openAddModal() {
    document.getElementById('modalTitle').textContent = 'Add Rule';
    document.getElementById('ruleId').value = '';
    document.getElementById('ruleName').value = '';
    document.getElementById('description').value = '';
    document.getElementById('anomalyScore').value = '';
    document.getElementById('action').value = 'block'; 
    document.getElementById('conditionsContainer').innerHTML = ''; 

    document.getElementById('ruleModal').style.display = 'block';
}

function openEditModal(ruleId) {
    fetch(`/admin/rules/${ruleId}/edit`)
        .then(response => response.json())
        .then(rule => {
            document.getElementById('modalTitle').textContent = 'Edit Rule';
            document.getElementById('ruleId').value = rule._id;
            document.getElementById('ruleName').value = rule.name;
            document.getElementById('description').value = rule.description;
            document.getElementById('anomalyScore').value = rule.anomalyScore;
            document.getElementById('action').value = rule.action;

            const conditionsContainer = document.getElementById('conditionsContainer');
            conditionsContainer.innerHTML = ''; 

            rule.conditions.forEach((condition) => {
                addConditionRule(condition);
            });

            document.getElementById('ruleModal').style.display = 'block';
        })
        .catch(error => console.error('Error loading rule:', error));
}

function toggleAddConditionButton() {
    const addConditionButton = document.getElementById('addConditionButton');

    if (globalConditionType === 'MATCH') {
        addConditionButton.style.display = 'none'; 
    } else {
        addConditionButton.style.display = 'block';
    }
}

function toggleDeleteConditionButton() {
    const deleteConditionButton = document.getElementById('deleteConditionButton');
    const submitButton = document.getElementById('submitButton');

    const conditionsContainer = document.getElementById('conditionsContainer');



    //submitButton
    if (conditionsContainer.children.length > 0) {
        deleteConditionButton.style.display = 'block';
        submitButton.style.display = 'block';
    } else {
        deleteConditionButton.style.display = 'none';
        submitButton.style.display = 'none';
    }
}

function addConditionRule(condition = {}) {
    const conditionsContainer = document.getElementById('conditionsContainer');

    conditionsCount++;
    
    if (conditionsCount === 1) {
        globalConditionType = 'MATCH';
    } else if (conditionsCount > 1) {
        condition.type = globalConditionType;
    }

    const conditionId = `condition-${Date.now()}`;
    const conditionTemplate = `
        <div id="${conditionId}" class="condition">
            <div class="form-group">
                <label for="conditionType-${conditionId}">Condition Type:</label>
                <select name="conditionType[]" id="conditionType-${conditionId}" class="form-control condition-type-select" required>
                    <option value="MATCH" ${condition.type === 'MATCH' ? 'selected' : ''}>Matches the statement</option>
                    <option value="AND" ${condition.type === 'AND' ? 'selected' : ''}>Matches all the statements (AND)</option>
                    <option value="OR" ${condition.type === 'OR' ? 'selected' : ''}>Matches at least one statement (OR)</option>
                    <option value="NOT" ${condition.type === 'NOT' ? 'selected' : ''}>Doesn't match the statement (NOT)</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="inspect-${conditionId}">Inspect:</label>
                <select name="inspect[]" id="inspect-${conditionId}" class="form-control inspect-select" required>
                    <option value="singleHeader" ${condition.inspect === 'singleHeader' ? 'selected' : ''}>Single Header</option>
                    <option value="allHeaders" ${condition.inspect === 'allHeaders' ? 'selected' : ''}>All Headers</option>
                    <option value="singleCookie" ${condition.inspect === 'singleCookie' ? 'selected' : ''}>Single Cookie</option>
                    <option value="allCookies" ${condition.inspect === 'allCookies' ? 'selected' : ''}>All Cookies</option>
                    <option value="singleQueryParameter" ${condition.inspect === 'singleQueryParameter' ? 'selected' : ''}>Single Query Parameter</option>
                    <option value="allQueryParameters" ${condition.inspect === 'allQueryParameters' ? 'selected' : ''}>All Query Parameters</option>
                    <option value="uriPath" ${condition.inspect === 'uriPath' ? 'selected' : ''}>URI Path</option>
                    <option value="queryString" ${condition.inspect === 'queryString' ? 'selected' : ''}>Query String</option>
                    <option value="body" ${condition.inspect === 'body' ? 'selected' : ''}>Body</option>
                    <option value="method" ${condition.inspect === 'method' ? 'selected' : ''}>HTTP Method</option>
                </select>
            </div>
            
            <div class="form-group field-name-group" style="display:none;">
                <label for="fieldName-${conditionId}">Field Name (if applicable):</label>
                <input type="text" name="fieldName[]" id="fieldName-${conditionId}" class="form-control field-name-input" placeholder="Field Name" value="${condition.fieldName || ''}">
            </div>
        
            <div class="form-group">
                <label for="matchType-${conditionId}">Match Type:</label>
                <select name="matchType[]" id="matchType-${conditionId}" class="form-control match-type-select" required>
                    <option value="exactlyMatches" ${condition.match_type === 'exactlyMatches' ? 'selected' : ''}>Exactly matches string</option>
                    <option value="startsWith" ${condition.match_type === 'startsWith' ? 'selected' : ''}>Starts with string</option>
                    <option value="endsWith" ${condition.match_type === 'endsWith' ? 'selected' : ''}>Ends with string</option>
                    <option value="contains" ${condition.match_type === 'contains' ? 'selected' : ''}>Contains string</option>
                    <option value="containsWord" ${condition.match_type === 'containsWord' ? 'selected' : ''}>Contains word</option>
                    <option value="matchesRegexPatternSet" ${condition.match_type === 'matchesRegexPatternSet' ? 'selected' : ''}>Matches regex pattern set</option>
                    <option value="matchesRegex" ${condition.match_type === 'matchesRegex' ? 'selected' : ''}>Matches regex</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="value-${conditionId}">Value:</label>
                <input type="text" name="value[]" id="value-${conditionId}" class="form-control value-input" placeholder="String/Regex to match" value="${condition.value || ''}" required>
            </div>
            
        </div>`;
    
    conditionsContainer.insertAdjacentHTML('beforeend', conditionTemplate);

    const conditionTypeSelect = document.getElementById(`conditionType-${conditionId}`);
    
    const inspectSelect = document.getElementById(`inspect-${conditionId}`);
    const fieldNameGroup = document.getElementById(`fieldName-${conditionId}`).closest('.field-name-group');

    inspectSelect.addEventListener('change', function () {
        if (['singleHeader', 'singleCookie', 'singleQueryParameter'].includes(inspectSelect.value)) {
            fieldNameGroup.style.display = 'block';
        } else {
            fieldNameGroup.style.display = 'none';
        }
    });

    if (conditionsCount === 1) {
        conditionTypeSelect.addEventListener('change', function () {
            globalConditionType = this.value;
            toggleAddConditionButton(); 

            if (globalConditionType !== 'MATCH') {
                if (conditionsCount === 1) {
                    addConditionRule({ type: globalConditionType });
                }
            } else {
                const conditionsContainer = document.getElementById('conditionsContainer');
                const childConditions = conditionsContainer.querySelectorAll('.condition');
                if (childConditions.length > 1) {
                    for (let i = 1; i < childConditions.length; i++) {
        childConditions[i].remove();
    }
    conditionsCount = 1;
                }
            }
        });
    } else {
        conditionTypeSelect.value = globalConditionType;
    }

    toggleDeleteConditionButton();

    toggleAddConditionButton();

    inspectSelect.dispatchEvent(new Event('change'));
}

function deleteLastCondition() {
    const conditionsContainer = document.getElementById('conditionsContainer');
    const lastCondition = conditionsContainer.lastElementChild;

    if (lastCondition) {
        lastCondition.remove();
        conditionsCount--;

        toggleDeleteConditionButton();

        if (conditionsCount === 1) {
            const conditionTypeSelect = document.querySelector('.condition-type-select');
            if (conditionTypeSelect) {
                conditionTypeSelect.removeAttribute('disabled');
                globalConditionType = 'MATCH'; 
                toggleAddConditionButton();
            }
        }
    }
}

if (!formListenerAttached) {
    document.getElementById('ruleForm').addEventListener('submit', function(e) {
        e.preventDefault();

        const formData = {
            ruleId: document.getElementById('ruleId').value,
            ruleName: document.getElementById('ruleName').value,
            description: document.getElementById('description').value,
            anomalyScore: document.getElementById('anomalyScore').value,
            action: document.getElementById('action').value,
            conditions: []
        };

        document.querySelectorAll('#conditionsContainer .condition').forEach(conditionElement => {
            const condition = {
                type: conditionElement.querySelector('.condition-type-select').value,
                inspect: conditionElement.querySelector('.inspect-select').value,
                fieldName: conditionElement.querySelector('.field-name-input').value,
                match_type: conditionElement.querySelector('.match-type-select').value,
                value: conditionElement.querySelector('.value-input').value,
            };
            formData.conditions.push(condition);
        });

        const url = formData.ruleId ? `/admin/rules/${formData.ruleId}/edit` : '/admin/rules';
        const method = formData.ruleId ? 'PUT' : 'POST';

        fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
            if (response.ok) {
               
                showNotification('Rule saved successfully!', 'success');
                 closeRuleModal(); 
            } else {
                showNotification('Error saving rule. Please try again.', 'danger'); 
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showNotification('Error saving rule. Please try again.', 'danger'); 
        });
    });

    formListenerAttached = true; 
}

function closeRuleModal() {
    document.getElementById('ruleModal').style.display = 'none';

    const form = document.getElementById('ruleForm');
    form.reset(); 

    const conditionsContainer = document.getElementById('conditionsContainer');
    conditionsContainer.innerHTML = ''; 

    conditionsCount = 0;
    globalConditionType = 'MATCH'; 

    toggleDeleteConditionButton();

    toggleAddConditionButton();

    const addConditionButton = document.getElementById('addConditionButton');
    addConditionButton.style.display = 'block'; 
}



</script>